.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.section {
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

label {
    display: block;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: left;
    width: auto;
}

.search_form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1.5rem;
    max-width : 1200px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group.submit {
    align-self: end;
}