<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Flight Tracker</title>
    </head>
    <body>
        <div class="header">
            <h1>Flight Tracker v1.0</h1>
        </div>
        <div class="container">
            <h2>Full Route Results</h2>
            <table>
                <thead>
                    <tr>
                        <th>Search no</th>
                        <th>Stops</th>
                        <th>Departure Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Airport</th>
                        <th>Arrival Time</th>
                        <th>Duration</th>
                        <th>Carrier Code</th>
                        <th>Price</th>
                        <th>Bookable Seats</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ flight.stops }}</td>
                        <td>{{ flight.departure_airport }}</td>
                        <td>{{ flight.departure_time }}</td>
                        <td>{{ flight.arrival_airport }}</td>
                        <td>{{ flight.arrival_time }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.carrier_code }}</td>
                        <td>{{ flight.price }}</td>
                        <td>{{ flight.bookable_seats }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>