<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Flight Tracker</title>
    </head>
    <body>
        <div class="header">
            <h1>Flight Tracker v1.0!</h1>
        </div>
        <div class="section">
            <h2>Search Flights</h2>
            <form action="/" method="post" class="search_form">
                <div class="form-group">
                    <label for="bookFlightOriginInput">From</label>
                    <input autocomplete="off" autofocus name="origin" placeholder="Departure Airport eg(RDU)" id="bookFlightOriginInput" type="text">
                </div>

                <div class="form-group">
                    <label for="bookFlightDestinationInput">To</label>
                    <input autocomplete="off" name="destination" placeholder="Arrival Airport eg(MIA)" id="bookFlightDestinationInput" type="text">
                </div>

                <div class="form-group">
                    <label for="bookFlightDepartureDateInput">Departure Date</label>
                    <input autocomplete="off" name="departure_date" placeholder="Departure Date eg(2026-01-19)" id="bookFlightDepartureDateInput" type="date">
                </div>

                <div class="form-group">
                    <label for="bookFlightReturnDateInput">Return Date</label>
                    <input autocomplete="off" name="return_date" placeholder="Return Date eg(2026-01-25)" id="bookFlightReturnDateInput" type="date">
                </div>

                <div class="form-group">
                    <label for="bookFlightAdultsInput">Number of Adults</label>
                    <input autocomplete="off" name="adults" placeholder="Number of Adults eg(1)" id="bookFlightAdultsInput" type="number">
                </div>

                <div class="form-group">
                    <label for="bookFlightAirlineCodeInput">Airline Code (optional)</label>
                    <input autocomplete="off" name="airline_code" placeholder="Airline Code eg(UA)" id="bookFlightAirlineCodeInput" type="text">
                </div>

                <div class="form-group">
                    <label for="bookFlightMaxResultsInput">Max Results</label>
                    <input autocomplete="off" name="max_results" placeholder="Max Results eg(5)" id="bookFlightMaxResultsInput" type="number">
                </div>

                <div class="form-group submit">
                    <input type="submit" value="Search Flights">
                </div>
            </form>
        </div>
        <div class="container">
            <h2>Full Route Results</h2>
            <table>
                <thead>
                    <tr>
                        <th>Search no</th>
                        <th>Stops</th>
                        <th>Departure Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Airport</th>
                        <th>Arrival Time</th>
                        <th>Duration</th>
                        <th>Carrier Code</th>
                        <th>Flight Number</th>
                        <th>Price</th>
                        <th>Bookable Seats</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td>{{ flight.search_no }}</td>
                        <td>{{ flight.stops }}</td>
                        <td>{{ flight.departure_airport }}</td>
                        <td>{{ flight.departure_time }}</td>
                        <td>{{ flight.arrival_airport }}</td>
                        <td>{{ flight.arrival_time }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.carrier_code }}</td>
                        <td>{{ flight.flight_number }}</td>
                        <td>{{ flight.price }}</td>
                        <td>{{ flight.bookable_seats }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>